* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #0E0D12;
    height: 1200px;
}

.container {
    width: 1140px;
    margin: auto;
}

.composition {
    position: relative;
}

.bmw {
    position: absolute;
    z-index: 1;
    top: 100px;

}
.arc {
    position: absolute;
    top: -100px;
    left: 300px;
    filter: drop-shadow(0 0 0.5em white);
}
