:root {
    /* colors */
    --color-black: #222222;
    --color-brand: #3561A4;
    --color-brand-hover: #6B92CD;
    --color-bg: #f4f4f4;
    --color-border: #EFEFEF;
    --color-red: #C41429;

    /* font */
    --font-family: "Raleway", "Arial", san-serif;
    --font-size: 16px;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--color-black);
}




.container {
    width: 1140px;
    margin: auto;

}

.page-header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header__nav {
    flex-grow: 1;
    padding-left: 70px;
}

.page-header__menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 35px;
}

.page-header__menu a {
    text-decoration: none;
    color: var(--color-black);
}

.page-header__links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.page-header__tel {
    text-decoration: none;
    color: var(--color-black);

}

.page-header__cart{
    text-decoration: none;
    position: relative;
}
.page-header__cart-count {
    text-decoration: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 12px;
    color: var(--color-bg);
    background-color: var(--color-red);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    right: 22px;
    bottom: 20px;
    font-size: 10px;
}

.page-header__tel{
    font-weight: 600;
}

.carousel{
    position: relative;
    padding-block: 60px;
}
.carousel__slide{
    position: absolute;
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
}

.carousel__slide img{
    align-self: end;
    justify-self: end;
}

.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-brand);
    min-width: 220px;
    height: 48px;
    border-radius: 25px;
    color: var(--color-bg);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.25s ease;
}

.btn:hover {
    background-color: var(--color-brand-hover);
  }


.carousel__btns{
    position: absolute;
    display: flex;
    gap: 15px;
}